In [5]:
import pandas as pd

# Data Science Course Week 1 - Pandas and Data Manipulation

## We will be using real data sources to explore the features of Pandas

MovieLens 100k movie rating data:
    main page: http://grouplens.org/datasets/movielens/
    data dictionary: http://files.grouplens.org/datasets/movielens/ml-100k-README.txt
    files: u.user, u.data, u.item

WHO alcohol consumption data:
    article: http://fivethirtyeight.com/datalab/dear-mona-followup-where-do-people-drink-the-most-beer-wine-and-spirits/    
    original data: https://github.com/fivethirtyeight/data/tree/master/alcohol-consumption
    file: drinks.csv (with additional 'continent' column)

National UFO Reporting Center data:
    main page: http://www.nuforc.org/webreports.html
    file: ufo.csv

### Reading Files, Selecting Columns, and Summarizing

In [9]:
# can read a file from local computer or directly from a URL
pd.read_table('u.user', header=None)
#pd.read_table('https://raw.githubusercontent.com/alasdaird/SYD_DAT_6/master/labs/Week%201/u.user')

                                0
0         1|24|M|technician|85711
1              2|53|F|other|94043
2             3|23|M|writer|32067
3         4|24|M|technician|43537
4              5|33|F|other|15213
5          6|42|M|executive|98101
6      7|57|M|administrator|91344
7      8|36|M|administrator|05201
8            9|29|M|student|01002
9            10|53|M|lawyer|90703
10            11|39|F|other|30329
11            12|28|F|other|06405
12         13|47|M|educator|29206
13        14|45|M|scientist|55106
14         15|49|F|educator|97301
15    16|21|M|entertainment|10309
16       17|30|M|programmer|06355
17            18|35|F|other|37212
18        19|40|M|librarian|02138
19        20|42|F|homemaker|95660
20           21|26|M|writer|30068
21           22|25|M|writer|40206
22           23|30|F|artist|48197
23           24|21|F|artist|94533
24         25|39|M|engineer|55107
25         26|49|M|engineer|21044
26        27|40|F|librarian|30030
27           28|32|M|writer|55369
28       29|41|M|programmer|94043
29           30|7|M|student|55436
..                            ...
913          914|44|F|other|08105
914  915|50|M|entertainment|60614
915       916|27|M|engineer|N2L5N
916        917|22|F|student|20006
917      918|40|M|scientist|70116
918          919|25|M|other|14216
919         920|30|F|artist|90008
920        921|20|F|student|98801
921  922|29|F|administrator|21114
922        923|21|M|student|E2E3R
923          924|29|M|other|11753
924       925|18|F|salesman|49036
925  926|49|M|entertainment|01701
926     927|23|M|programmer|55428
927        928|21|M|student|55408
928      929|44|M|scientist|53711
929      930|28|F|scientist|07310
930       931|60|M|educator|33556
931       932|58|M|educator|06437
932        933|28|M|student|48105
933       934|61|M|engineer|22902
934         935|42|M|doctor|66221
935          936|24|M|other|32789
936       937|48|M|educator|98072
937     938|38|F|technician|55038
938        939|26|F|student|33319
939  940|32|M|administrator|02215
940        941|20|M|student|97229
941      942|48|F|librarian|78209
942        943|22|M|student|77841

[943 rows x 1 columns]

In [14]:
#read 'u.user' into 'users'
user_cols = ['user_id', 'age', 'gender', 'occupation', 'zip_code']
users = pd.read_table('u.user', sep='|', header=None, names=user_cols, index_col='user_id', dtype={'zip_code':str})

In [15]:
# examine the users data
users                   # print the first 30 and last 30 rows
#type(users)             # DataFrame
#users.head()            # print the first 5 rows
#users.head(10)          # print the first 10 rows
#users.tail()            # print the last 5 rows
#users.index             # "the index" (aka "the labels")
#users.columns           # column names (which is "an index")
#users.dtypes            # data types of each column
#users.shape             # number of rows and columns
#users.values            # underlying numpy array
#users.info()            # concise summary (including memory usage)

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
6         42      M      executive    98101
7         57      M  administrator    91344
8         36      M  administrator    05201
9         29      M        student    01002
10        53      M         lawyer    90703
11        39      F          other    30329
12        28      F          other    06405
13        47      M       educator    29206
14        45      M      scientist    55106
15        49      F       educator    97301
16        21      M  entertainment    10309
17        30      M     programmer    06355
18        35      F          other    37212
19        40      M      librarian    02138
20        42      F      homemaker    95660
21        26      M         writer    30068
22        25      M         writer    40206
23        30      F         artist    48197
24        21      F         artist    94533
25        39      M       engineer    55107
26        49      M       engineer    21044
27        40      F      librarian    30030
28        32      M         writer    55369
29        41      M     programmer    94043
30         7      M        student    55436
...      ...    ...            ...      ...
914       44      F          other    08105
915       50      M  entertainment    60614
916       27      M       engineer    N2L5N
917       22      F        student    20006
918       40      M      scientist    70116
919       25      M          other    14216
920       30      F         artist    90008
921       20      F        student    98801
922       29      F  administrator    21114
923       21      M        student    E2E3R
924       29      M          other    11753
925       18      F       salesman    49036
926       49      M  entertainment    01701
927       23      M     programmer    55428
928       21      M        student    55408
929       44      M      scientist    53711
930       28      F      scientist    07310
931       60      M       educator    33556
932       58      M       educator    06437
933       28      M        student    48105
934       61      M       engineer    22902
935       42      M         doctor    66221
936       24      M          other    32789
937       48      M       educator    98072
938       38      F     technician    55038
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

[943 rows x 4 columns]

In [ ]:
# select a column
#users['gender']         # select one column
#type(users['gender'])   # Series
#type(users[['gender']])   # DataFrame
#users.gender            # select one column using the DataFrame attribute

In [16]:
#summarize (describe) the data
users.describe()                    # describe all numeric columns
#users.describe(include=['object'])  # describe all object columns (can include multiple types)
#users.describe(include='all')       # describe all columns
#users.gender.describe()             # describe a single column
#users.age.mean()                    # only calculate the mean

              age
count  943.000000
mean    34.051962
std     12.192740
min      7.000000
25%     25.000000
50%     31.000000
75%     43.000000
max     73.000000

In [18]:
# count the number of occurrences of each value
#users.occupation.value_counts()     # most useful for categorical variables
users.age.value_counts()        # can also be used with numeric variables

30    39
25    38
22    37
28    36
27    35
26    34
24    33
29    32
20    32
32    28
23    28
35    27
21    27
33    26
31    25
19    23
44    23
39    22
40    21
36    21
42    21
51    20
50    20
48    20
49    19
37    19
18    18
34    17
38    17
45    15
      ..
47    14
43    13
46    12
53    12
55    11
41    10
57     9
60     9
52     6
56     6
15     6
13     5
16     5
54     4
63     3
14     3
65     3
70     3
61     3
59     3
58     3
64     2
68     2
69     2
62     2
11     1
10     1
73     1
66     1
7      1
Name: age, dtype: int64

## EXERCISE ONE

In [20]:
# read drinks.csv into a DataFrame called 'drinks'
drinks = pd.read_table('drinks.csv', sep=',')
drinks = pd.read_csv('drinks.csv')              # assumes separator is comma

In [22]:
drinks = pd.read_table('drinks.csv',sep=',')

In [26]:
drinks=pd.read_csv('drinks.csv',sep=',')

In [27]:
drinks

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
5,Antigua & Barbuda,102,128,45,4.9,NaN
6,Argentina,193,25,221,8.3,SA
7,Armenia,21,179,11,3.8,EU
8,Australia,261,72,212,10.4,OC
9,Austria,279,75,191,9.7,EU
10,Azerbaijan,21,46,5,1.3,EU
11,Bahamas,122,176,51,6.3,NaN
12,Bahrain,42,63,7,2.0,AS
13,Bangladesh,0,0,0,0.0,AS
14,Barbados,143,173,36,6.3,NaN
15,Belarus,142,373,42,14.4,EU
16,Belgium,295,84,212,10.5,EU
17,Belize,263,114,8,6.8,NaN
18,Benin,34,4,13,1.1,AF
19,Bhutan,23,0,0,0.4,AS
20,Bolivia,167,41,8,3.8,SA
21,Bosnia-Herzegovina,76,173,8,4.6,EU
22,Botswana,173,35,35,5.4,AF
23,Brazil,245,145,16,7.2,SA
24,Brunei,31,2,1,0.6,AS
25,Bulgaria,231,252,94,10.3,EU
26,Burkina Faso,25,7,7,4.3,AF
27,Burundi,88,0,0,6.3,AF
28,Cote d'Ivoire,37,1,7,4.0,AF
29,Cabo Verde,144,56,16,4.0,AF
...,...,...,...,...,...,...
163,Suriname,128,178,7,5.6,SA
164,Swaziland,90,2,2,4.7,AF
165,Sweden,152,60,186,7.2,EU
166,Switzerland,185,100,280,10.2,EU
167,Syria,5,35,16,1.0,AS
168,Tajikistan,2,15,0,0.3,AS
169,Thailand,99,258,1,6.4,AS
170,Macedonia,106,27,86,3.9,EU
171,Timor-Leste,1,1,4,0.1,AS
172,Togo,36,2,19,1.3,AF
173,Tonga,36,21,5,1.1,OC
174,Trinidad & Tobago,197,156,7,6.4,NaN
175,Tunisia,51,3,20,1.3,AF
176,Turkey,51,22,7,1.4,AS
177,Turkmenistan,19,71,32,2.2,AS
178,Tuvalu,6,41,9,1.0,OC
179,Uganda,45,9,0,8.3,AF
180,Ukraine,206,237,45,8.9,EU
181,United Arab Emirates,16,135,5,2.8,AS
182,United Kingdom,219,126,195,10.4,EU
183,Tanzania,36,6,1,5.7,AF
184,USA,249,158,84,8.7,NaN
185,Uruguay,115,35,220,6.6,SA
186,Uzbekistan,25,101,8,2.4,AS
187,Vanuatu,21,18,11,0.9,OC
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

In [21]:
# print the head and the tail
drinks.head()
drinks.tail()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

In [ ]:
# examine the default index, data types, and shape
drinks.index
drinks.dtypes
drinks.shape

In [28]:
drinks.index

RangeIndex(start=0, stop=193, step=1)

In [29]:
drinks.dtypes

country                          object
beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object

In [31]:
drinks.shape

(193, 6)

In [32]:
# print the 'beer_servings' Series
drinks['beer_servings']
drinks.beer_servings

0        0
1       89
2       25
3      245
4      217
5      102
6      193
7       21
8      261
9      279
10      21
11     122
12      42
13       0
14     143
15     142
16     295
17     263
18      34
19      23
20     167
21      76
22     173
23     245
24      31
25     231
26      25
27      88
28      37
29     144
      ...
163    128
164     90
165    152
166    185
167      5
168      2
169     99
170    106
171      1
172     36
173     36
174    197
175     51
176     51
177     19
178      6
179     45
180    206
181     16
182    219
183     36
184    249
185    115
186     25
187     21
188    333
189    111
190      6
191     32
192     64
Name: beer_servings, dtype: int64

In [33]:
drinks.beer_servings

0        0
1       89
2       25
3      245
4      217
5      102
6      193
7       21
8      261
9      279
10      21
11     122
12      42
13       0
14     143
15     142
16     295
17     263
18      34
19      23
20     167
21      76
22     173
23     245
24      31
25     231
26      25
27      88
28      37
29     144
      ...
163    128
164     90
165    152
166    185
167      5
168      2
169     99
170    106
171      1
172     36
173     36
174    197
175     51
176     51
177     19
178      6
179     45
180    206
181     16
182    219
183     36
184    249
185    115
186     25
187     21
188    333
189    111
190      6
191     32
192     64
Name: beer_servings, dtype: int64

In [ ]:
# calculate the average 'beer_servings' for the entire dataset
drinks.describe()                   # summarize all numeric columns
drinks.beer_servings.describe()     # summarize only the 'beer_servings' Series
drinks.beer_servings.mean()         # only calculate the mean

In [34]:
drinks.describe()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
count,193.000000,193.000000,193.000000,193.000000
mean,106.160622,80.994819,49.450777,4.717098
std,101.143103,88.284312,79.697598,3.773298
min,0.000000,0.000000,0.000000,0.000000
25%,20.000000,4.000000,1.000000,1.300000
50%,76.000000,56.000000,8.000000,4.200000
75%,188.000000,128.000000,59.000000,7.200000
max,376.000000,438.000000,370.000000,14.400000

In [35]:
drinks.beer_servings.describe()

count    193.000000
mean     106.160622
std      101.143103
min        0.000000
25%       20.000000
50%       76.000000
75%      188.000000
max      376.000000
Name: beer_servings, dtype: float64

In [36]:
drinks.beer_servings.mean()

106.16062176165804

In [ ]:

# count the number of occurrences of each 'continent' value and see if it looks correct
drinks.continent.value_counts()

In [38]:
drinks.continent.value_counts()

AF    53
EU    45
AS    44
OC    16
SA    12
Name: continent, dtype: int64

#### Filtering and Sorting

using users data set again

In [ ]:
# logical filtering: only show users with age < 20
young_bool = users.age < 20         # create a Series of booleans...
users[young_bool]                   # ...and use that Series to filter rows
users[users.age < 20]               # or, combine into a single step
users[users.age < 20].occupation    # select one column from the filtered results
users[users.age < 20].occupation.value_counts()     # value_counts of resulting Series

In [39]:
teens=users.age<20

In [48]:
#users[teens]

students=users.age>35

In [50]:
users[students]

         age gender occupation zip_code
user_id
2         53      F    student    94043
6         42      M    student    98101
7         57      M    student    91344
8         36      M    student    05201
10        53      M    student    90703
11        39      F    student    30329
13        47      M    student    29206
14        45      M    student    55106
15        49      F    student    97301
19        40      M    student    02138
20        42      F    student    95660
25        39      M    student    55107
26        49      M    student    21044
27        40      F    student    30030
29        41      M    student    94043
34        38      F    student    42141
39        41      M    student    01040
40        38      M    student    27514
47        53      M    student    07102
48        45      M    student    12550
55        37      M    student    01331
59        49      M    student    08403
60        50      M    student    06472
61        36      M    student    30040
65        51      F    student    48118
71        39      M    student    98034
72        48      F    student    73034
74        39      M    student    T8H1N
79        39      F    student    03755
82        50      M    student    22902
...      ...    ...        ...      ...
874       36      M    student    37076
876       41      M    student    20902
878       50      F    student    98027
881       39      M    student    43017
883       49      M    student    50266
884       44      M    student    55337
888       41      M    student    17036
891       51      F    student    03062
892       36      M    student    45243
894       47      M    student    74075
900       60      M    student    18505
901       38      M    student    L1V3W
902       45      F    student    97203
906       45      M    student    70124
908       44      F    student    68504
909       50      F    student    53171
911       37      F    student    53210
912       51      M    student    06512
914       44      F    student    08105
915       50      M    student    60614
918       40      M    student    70116
926       49      M    student    01701
929       44      M    student    53711
931       60      M    student    33556
932       58      M    student    06437
934       61      M    student    22902
935       42      M    student    66221
937       48      M    student    98072
938       38      F    student    55038
942       48      F    student    78209

[372 rows x 4 columns]

In [51]:
users[students].mean()

age    46.80914
dtype: float64

In [52]:
users[students].occupation

user_id
2      student
6      student
7      student
8      student
10     student
11     student
13     student
14     student
15     student
19     student
20     student
25     student
26     student
27     student
29     student
34     student
39     student
40     student
47     student
48     student
55     student
59     student
60     student
61     student
65     student
71     student
72     student
74     student
79     student
82     student
        ...
874    student
876    student
878    student
881    student
883    student
884    student
888    student
891    student
892    student
894    student
900    student
901    student
902    student
906    student
908    student
909    student
911    student
912    student
914    student
915    student
918    student
926    student
929    student
931    student
932    student
934    student
935    student
937    student
938    student
942    student
Name: occupation, dtype: object

In [55]:
users[students].occupation.value_counts()

student    372
Name: occupation, dtype: int64

In [57]:
users.age<20

user_id
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
30      True
       ...
914    False
915    False
916    False
917    False
918    False
919    False
920    False
921    False
922    False
923    False
924    False
925     True
926    False
927    False
928    False
929    False
930    False
931    False
932    False
933    False
934    False
935    False
936    False
937    False
938    False
939    False
940    False
941    False
942    False
943    False
Name: age, dtype: bool

In [58]:
users[users.age<20]

         age gender occupation zip_code
user_id
30         7      M    student    55436
36        19      F    student    93117
52        18      F    student    55105
57        16      M    student    84010
67        17      M    student    60402
68        19      M    student    22904
101       15      M    student    05146
110       19      M    student    77840
142       13      M    student    48118
179       15      M    student    20755
206       14      F    student    53115
221       19      M    student    20685
223       19      F    student    47906
246       19      M    student    28734
257       17      M    student    77005
258       19      F    student    77801
262       19      F    student    78264
270       18      F    student    63119
281       15      F    student    06059
289       11      M    student    94619
291       19      M    student    44106
303       19      M    student    14853
320       19      M    student    24060
341       17      F    student    44405
347       18      M    student    90210
367       17      M    student    37411
368       18      M    student    92113
375       17      M    student    37777
393       19      M    student    83686
397       17      M    student    27514
...      ...    ...        ...      ...
601       19      F    student    99687
609       13      F    student    55106
618       15      F    student    44212
619       17      M    student    44134
620       18      F    student    81648
621       17      M    student    60402
624       19      M    student    30067
628       13      M    student    94306
631       18      F    student    38866
632       18      M    student    55454
642       18      F    student    95521
646       17      F    student    51250
674       13      F    student    55337
700       17      M    student    76309
710       19      M    student    92020
729       19      M    student    56567
747       19      M    student    93612
761       17      M    student    97302
787       18      F    student    98620
813       14      F    student    02136
817       19      M    student    60152
849       15      F    student    25652
851       18      M    student    29646
859       18      F    student    06492
863       17      M    student    60089
872       19      F    student    74078
880       13      M    student    83702
887       14      F    student    27249
904       17      F    student    61073
925       18      F    student    49036

[77 rows x 4 columns]

In [64]:
users[users.age<20].describe()

             age
count  77.000000
mean   16.935065
std     2.380500
min     7.000000
25%    16.000000
50%    18.000000
75%    19.000000
max    19.000000

In [ ]:
# logical filtering with multiple conditions
users[(users.age < 20) & (users.gender=='M')]       # ampersand for AND condition
users[(users.age < 20) | (users.age > 60)]          # pipe for OR condition
users[users.occupation.isin(['doctor', 'lawyer'])]  # alternative to multiple OR conditions

In [102]:
[(users.occupation=='doctor')| (users.occupation=='lawyer')]

[user_id
 1      False
 2      False
 3      False
 4      False
 5      False
 6      False
 7      False
 8      False
 9      False
 10     False
 11     False
 12     False
 13     False
 14     False
 15     False
 16     False
 17     False
 18     False
 19     False
 20     False
 21     False
 22     False
 23     False
 24     False
 25     False
 26     False
 27     False
 28     False
 29     False
 30     False
        ...
 914    False
 915    False
 916    False
 917    False
 918    False
 919    False
 920    False
 921    False
 922    False
 923    False
 924    False
 925    False
 926    False
 927    False
 928    False
 929    False
 930    False
 931    False
 932    False
 933    False
 934    False
 935    False
 936    False
 937    False
 938    False
 939    False
 940    False
 941    False
 942    False
 943    False
 Name: occupation, dtype: bool]

In [110]:
#users[users.occupation.isin(['doctor','lawyer'])]       
[users.occupation.isin(['doctor', 'lawyer'])]

[user_id
 1      False
 2      False
 3      False
 4      False
 5      False
 6      False
 7      False
 8      False
 9      False
 10     False
 11     False
 12     False
 13     False
 14     False
 15     False
 16     False
 17     False
 18     False
 19     False
 20     False
 21     False
 22     False
 23     False
 24     False
 25     False
 26     False
 27     False
 28     False
 29     False
 30     False
        ...
 914    False
 915    False
 916    False
 917    False
 918    False
 919    False
 920    False
 921    False
 922    False
 923    False
 924    False
 925    False
 926    False
 927    False
 928    False
 929    False
 930    False
 931    False
 932    False
 933    False
 934    False
 935    False
 936    False
 937    False
 938    False
 939    False
 940    False
 941    False
 942    False
 943    False
 Name: occupation, dtype: bool]

In [114]:
users[users.occupation.isin(['doctor', 'lawyer'])]

Empty DataFrame
Columns: [age, gender, occupation, zip_code]
Index: []

In [91]:
users.gender=='F'

user_id
1      False
2       True
3      False
4      False
5       True
6      False
7      False
8      False
9      False
10     False
11      True
12      True
13     False
14     False
15      True
16     False
17     False
18      True
19     False
20      True
21     False
22     False
23      True
24      True
25     False
26     False
27      True
28     False
29     False
30     False
       ...
914     True
915    False
916    False
917     True
918    False
919    False
920     True
921     True
922     True
923    False
924    False
925     True
926    False
927    False
928    False
929    False
930     True
931    False
932    False
933    False
934    False
935    False
936    False
937    False
938     True
939     True
940    False
941    False
942     True
943    False
Name: gender, dtype: bool

In [96]:
users[(users.gender=='F')]

         age gender occupation zip_code
user_id
2         53      F    student    94043
5         33      F    student    15213
11        39      F    student    30329
12        28      F    student    06405
15        49      F    student    97301
18        35      F    student    37212
20        42      F    student    95660
23        30      F    student    48197
24        21      F    student    94533
27        40      F    student    30030
32        28      F    student    78741
34        38      F    student    42141
35        20      F    student    42459
36        19      F    student    93117
38        28      F    student    54467
43        29      F    student    20854
46        27      F    student    46538
49        23      F    student    76111
52        18      F    student    55105
62        27      F    student    97214
65        51      F    student    48118
72        48      F    student    73034
79        39      F    student    03755
80        34      F    student    52241
88        49      F    student    11701
89        43      F    student    68106
96        25      F    student    75206
98        49      F    student    90291
120       47      F    student    06260
122       32      F    student    22206
...      ...    ...        ...      ...
856       43      F    student    97215
857       35      F    student    V1G4L
859       18      F    student    06492
860       70      F    student    48322
861       38      F    student    14085
872       19      F    student    74078
873       48      F    student    33763
875       24      F    student    35802
878       50      F    student    98027
879       33      F    student    55337
885       30      F    student    95316
887       14      F    student    27249
891       51      F    student    03062
895       31      F    student    32301
902       45      F    student    97203
904       17      F    student    61073
907       25      F    student    80526
908       44      F    student    68504
909       50      F    student    53171
911       37      F    student    53210
914       44      F    student    08105
917       22      F    student    20006
920       30      F    student    90008
921       20      F    student    98801
922       29      F    student    21114
925       18      F    student    49036
930       28      F    student    07310
938       38      F    student    55038
939       26      F    student    33319
942       48      F    student    78209

[273 rows x 4 columns]

In [99]:
users[(users.gender=='F')& (users.occupation=='educator')]

Empty DataFrame
Columns: [age, gender, occupation, zip_code]
Index: []

In [63]:
users[(users.age<20) & (users.gender=='M')]

         age gender occupation zip_code
user_id
30         7      M    student    55436
57        16      M    student    84010
67        17      M    student    60402
68        19      M    student    22904
101       15      M    student    05146
110       19      M    student    77840
142       13      M    student    48118
179       15      M    student    20755
221       19      M    student    20685
246       19      M    student    28734
257       17      M    student    77005
289       11      M    student    94619
291       19      M    student    44106
303       19      M    student    14853
320       19      M    student    24060
347       18      M    student    90210
367       17      M    student    37411
368       18      M    student    92113
375       17      M    student    37777
393       19      M    student    83686
397       17      M    student    27514
425       19      M    student    58644
451       16      M    student    48446
453       18      M    student    06333
461       15      M    student    98102
471       10      M    student    77459
521       19      M    student    02146
528       18      M    student    55104
580       16      M    student    17961
582       17      M    student    93003
592       18      M    student    97520
619       17      M    student    44134
621       17      M    student    60402
624       19      M    student    30067
628       13      M    student    94306
632       18      M    student    55454
700       17      M    student    76309
710       19      M    student    92020
729       19      M    student    56567
747       19      M    student    93612
761       17      M    student    97302
817       19      M    student    60152
851       18      M    student    29646
863       17      M    student    60089
880       13      M    student    83702

In [69]:
users[(users.age<20)&(users.gender=='M')].describe()

             age
count  45.000000
mean   16.844444
std     2.671019
min     7.000000
25%    16.000000
50%    17.000000
75%    19.000000
max    19.000000

In [74]:
users[(users.age<20)&(users.gender=='M')].occupation.value_counts()

student    45
Name: occupation, dtype: int64

In [75]:
users[(users.age<20)&(users.gender=='F')].describe()

             age
count  32.000000
mean   17.062500
std     1.933366
min    13.000000
25%    15.750000
50%    18.000000
75%    18.250000
max    19.000000

In [ ]:
# sorting
users.age.sort_values()                   # sort a column
users.sort_values(by='age')                   # sort a DataFrame by a single column
users.sort_values(by='age', ascending=False)  # use descending order instead
users.sort_values(by=['occupation', 'age'])   # sort by multiple columns

In [122]:
users.sort_values(by=['age','zip_code'])

         age gender occupation zip_code
user_id
30         7      M    student    55436
471       10      M    student    77459
289       11      M    student    94619
142       13      M    student    48118
609       13      F    student    55106
674       13      F    student    55337
880       13      M    student    83702
628       13      M    student    94306
813       14      F    student    02136
887       14      F    student    27249
206       14      F    student    53115
101       15      M    student    05146
281       15      F    student    06059
179       15      M    student    20755
849       15      F    student    25652
618       15      F    student    44212
461       15      M    student    98102
580       16      M    student    17961
451       16      M    student    48446
434       16      F    student    49705
57        16      M    student    84010
550       16      F    student    95453
397       17      M    student    27514
367       17      M    student    37411
375       17      M    student    37777
619       17      M    student    44134
341       17      F    student    44405
646       17      F    student    51250
863       17      M    student    60089
67        17      M    student    60402
...      ...    ...        ...      ...
900       60      M    student    18505
752       60      M    student    21201
931       60      M    student    33556
90        60      M    student    78155
469       60      M    student    78628
464       60      M    student    94583
234       60      M    student    94702
308       60      M    student    95076
934       61      M    student    22902
351       61      M    student    49938
106       61      M    student    55125
520       62      M    student    12603
266       62      F    student    78756
364       63      M    student    01810
777       63      M    student    01810
858       63      M    student    09645
423       64      M    student    91606
845       64      M    student    97405
651       65      M    student    02903
318       65      M    student    06518
564       65      M    student    94591
211       66      M    student    32605
573       68      M    student    48911
349       68      M    student    61455
559       69      M    student    10022
585       69      M    student    98501
767       70      M    student    00000
860       70      F    student    48322
803       70      M    student    78212
481       73      M    student    37771

[943 rows x 4 columns]

## EXERCISE TWO

using the drinks dataset again

In [123]:
# filter DataFrame to only include European countries

import pandas as pd

In [124]:
Drinks=pd.read_csv('drinks.csv')

In [125]:
Drinks

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
5,Antigua & Barbuda,102,128,45,4.9,NaN
6,Argentina,193,25,221,8.3,SA
7,Armenia,21,179,11,3.8,EU
8,Australia,261,72,212,10.4,OC
9,Austria,279,75,191,9.7,EU
10,Azerbaijan,21,46,5,1.3,EU
11,Bahamas,122,176,51,6.3,NaN
12,Bahrain,42,63,7,2.0,AS
13,Bangladesh,0,0,0,0.0,AS
14,Barbados,143,173,36,6.3,NaN
15,Belarus,142,373,42,14.4,EU
16,Belgium,295,84,212,10.5,EU
17,Belize,263,114,8,6.8,NaN
18,Benin,34,4,13,1.1,AF
19,Bhutan,23,0,0,0.4,AS
20,Bolivia,167,41,8,3.8,SA
21,Bosnia-Herzegovina,76,173,8,4.6,EU
22,Botswana,173,35,35,5.4,AF
23,Brazil,245,145,16,7.2,SA
24,Brunei,31,2,1,0.6,AS
25,Bulgaria,231,252,94,10.3,EU
26,Burkina Faso,25,7,7,4.3,AF
27,Burundi,88,0,0,6.3,AF
28,Cote d'Ivoire,37,1,7,4.0,AF
29,Cabo Verde,144,56,16,4.0,AF
...,...,...,...,...,...,...
163,Suriname,128,178,7,5.6,SA
164,Swaziland,90,2,2,4.7,AF
165,Sweden,152,60,186,7.2,EU
166,Switzerland,185,100,280,10.2,EU
167,Syria,5,35,16,1.0,AS
168,Tajikistan,2,15,0,0.3,AS
169,Thailand,99,258,1,6.4,AS
170,Macedonia,106,27,86,3.9,EU
171,Timor-Leste,1,1,4,0.1,AS
172,Togo,36,2,19,1.3,AF
173,Tonga,36,21,5,1.1,OC
174,Trinidad & Tobago,197,156,7,6.4,NaN
175,Tunisia,51,3,20,1.3,AF
176,Turkey,51,22,7,1.4,AS
177,Turkmenistan,19,71,32,2.2,AS
178,Tuvalu,6,41,9,1.0,OC
179,Uganda,45,9,0,8.3,AF
180,Ukraine,206,237,45,8.9,EU
181,United Arab Emirates,16,135,5,2.8,AS
182,United Kingdom,219,126,195,10.4,EU
183,Tanzania,36,6,1,5.7,AF
184,USA,249,158,84,8.7,NaN
185,Uruguay,115,35,220,6.6,SA
186,Uzbekistan,25,101,8,2.4,AS
187,Vanuatu,21,18,11,0.9,OC
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

In [126]:
Drinks[drinks.continent=='EU']

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
1,Albania,89,132,54,4.9,EU
3,Andorra,245,138,312,12.4,EU
7,Armenia,21,179,11,3.8,EU
9,Austria,279,75,191,9.7,EU
10,Azerbaijan,21,46,5,1.3,EU
15,Belarus,142,373,42,14.4,EU
16,Belgium,295,84,212,10.5,EU
21,Bosnia-Herzegovina,76,173,8,4.6,EU
25,Bulgaria,231,252,94,10.3,EU
42,Croatia,230,87,254,10.2,EU
44,Cyprus,192,154,113,8.2,EU
45,Czech Republic,361,170,134,11.8,EU
48,Denmark,224,81,278,10.4,EU
57,Estonia,224,194,59,9.5,EU
60,Finland,263,133,97,10.0,EU
61,France,127,151,370,11.8,EU
64,Georgia,52,100,149,5.4,EU
65,Germany,346,117,175,11.3,EU
67,Greece,133,112,218,8.3,EU
75,Hungary,234,215,185,11.3,EU
76,Iceland,233,61,78,6.6,EU
81,Ireland,313,118,165,11.4,EU
83,Italy,85,42,237,6.5,EU
93,Latvia,281,216,62,10.5,EU
98,Lithuania,343,244,56,12.9,EU
99,Luxembourg,236,133,271,11.4,EU
105,Malta,149,100,120,6.6,EU
111,Monaco,0,0,0,0.0,EU
113,Montenegro,31,114,128,4.9,EU
120,Netherlands,251,88,190,9.4,EU
126,Norway,169,71,129,6.7,EU
135,Poland,343,215,56,10.9,EU
136,Portugal,194,67,339,11.0,EU
139,Moldova,109,226,18,6.3,EU
140,Romania,297,122,167,10.4,EU
147,San Marino,0,0,0,0.0,EU
151,Serbia,283,131,127,9.6,EU
155,Slovakia,196,293,116,11.4,EU
156,Slovenia,270,51,276,10.6,EU
160,Spain,284,157,112,10.0,EU
165,Sweden,152,60,186,7.2,EU
166,Switzerland,185,100,280,10.2,EU
170,Macedonia,106,27,86,3.9,EU
180,Ukraine,206,237,45,8.9,EU
182,United Kingdom,219,126,195,10.4,EU

In [128]:
# filter DataFrame to only include European countries with wine_servings > 300

Drinks[(drinks.continent=='EU') & (drinks.wine_servings>300)]

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
3,Andorra,245,138,312,12.4,EU
61,France,127,151,370,11.8,EU
136,Portugal,194,67,339,11.0,EU

In [145]:
# calculate the average 'beer_servings' for all of Europe
drinks.continent=='EU'

0      False
1       True
2      False
3       True
4      False
5      False
6      False
7       True
8      False
9       True
10      True
11     False
12     False
13     False
14     False
15      True
16      True
17     False
18     False
19     False
20     False
21      True
22     False
23     False
24     False
25      True
26     False
27     False
28     False
29     False
       ...
163    False
164    False
165     True
166     True
167    False
168    False
169    False
170     True
171    False
172    False
173    False
174    False
175    False
176    False
177    False
178    False
179    False
180     True
181    False
182     True
183    False
184    False
185    False
186    False
187    False
188    False
189    False
190    False
191    False
192    False
Name: continent, dtype: bool

In [146]:
Drinksbeer = drinks.continent=='EU'

In [149]:
drinks.beer_servings.mean()

106.16062176165804

In [154]:
Drinksbeer[drinks['continent'] == 'EU'].mean(drinksbeer_servings)

TypeError: 'Series' objects are mutable, thus they cannot be hashed

In [ ]:
# determine which 10 countries have the highest total_litres_of_pure_alcohol

In [ ]:
# rename the column 'beer_servings' to 'beer'

In [ ]:
# add a new column as a function of existing columns, total_servings = beer + wine + spirits

In [ ]:
# remove the column you just added

### Handling Missing Values

In [ ]:
# missing values are usually excluded by default
drinks.continent.value_counts()              # excludes missing values
drinks.continent.value_counts(dropna=False)  # includes missing values

In [ ]:
# find missing values in a Series
drinks.continent.isnull()           # True if missing, False if not missing
drinks.continent.isnull().sum()     # count the missing values
drinks.continent.notnull()          # True if not missing, False if missing
drinks[drinks.continent.notnull()]  # only show rows where continent is not missing

In [ ]:
# use 'tilde' ~ to negate the boolean values
~drinks.continent.isnull()

In [ ]:
# side note: understanding axes
drinks.sum(axis=0)      # sums "down" the 0 axis (rows)
drinks.sum()            # axis=0 is the default
drinks.sum(axis=1)      # sums "across" the 1 axis (columns)

In [ ]:
# find missing values in a DataFrame
drinks.isnull()             # DataFrame of booleans
drinks.isnull().sum()       # count the missing values in each column

In [ ]:
# fill in missing values
drinks.continent.fillna(value='NA')                 # fill in missing values with 'NA'
drinks.continent.fillna(value='NA', inplace=True)   # modifies 'drinks' in-place

### Merging Data

In [ ]:
# read 'u.item' into 'movies'
movie_cols = ['movie_id', 'title']
movies = pd.read_table('u.item', sep='|', header=None, names=movie_cols, usecols=[0, 1])

In [ ]:
# read 'u.data' into 'ratings'
rating_cols = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_table('u.data', sep='\t', header=None, names=rating_cols)

In [ ]:
# merge 'movies' and 'ratings' (inner join on 'movie_id')
movie_ratings = pd.merge(movies, ratings)
movies.shape
ratings.shape
movie_ratings.shape