# Data Science Course Week 1 - Pandas and Data Manipulation

## We will be using real data sources to explore the features of Pandas

MovieLens 100k movie rating data:
    main page: http://grouplens.org/datasets/movielens/
    data dictionary: http://files.grouplens.org/datasets/movielens/ml-100k-README.txt
    files: u.user, u.data, u.item

WHO alcohol consumption data:
    article: http://fivethirtyeight.com/datalab/dear-mona-followup-where-do-people-drink-the-most-beer-wine-and-spirits/    
    original data: https://github.com/fivethirtyeight/data/tree/master/alcohol-consumption
    file: drinks.csv (with additional 'continent' column)

National UFO Reporting Center data:
    main page: http://www.nuforc.org/webreports.html
    file: ufo.csv

In [1]:
import pandas as pd

### Reading Files, Selecting Columns, and Summarizing

In [15]:
# can read a file from local computer or directly from a URL
pd.read_table('u.user', header=None)
#pd.read_table('https://raw.githubusercontent.com/alasdaird/SYD_DAT_6/master/labs/Week%201/u.user')

                                0
0         1|24|M|technician|85711
1              2|53|F|other|94043
2             3|23|M|writer|32067
3         4|24|M|technician|43537
4              5|33|F|other|15213
5          6|42|M|executive|98101
6      7|57|M|administrator|91344
7      8|36|M|administrator|05201
8            9|29|M|student|01002
9            10|53|M|lawyer|90703
10            11|39|F|other|30329
11            12|28|F|other|06405
12         13|47|M|educator|29206
13        14|45|M|scientist|55106
14         15|49|F|educator|97301
15    16|21|M|entertainment|10309
16       17|30|M|programmer|06355
17            18|35|F|other|37212
18        19|40|M|librarian|02138
19        20|42|F|homemaker|95660
20           21|26|M|writer|30068
21           22|25|M|writer|40206
22           23|30|F|artist|48197
23           24|21|F|artist|94533
24         25|39|M|engineer|55107
25         26|49|M|engineer|21044
26        27|40|F|librarian|30030
27           28|32|M|writer|55369
28       29|41|M|programmer|94043
29           30|7|M|student|55436
..                            ...
913          914|44|F|other|08105
914  915|50|M|entertainment|60614
915       916|27|M|engineer|N2L5N
916        917|22|F|student|20006
917      918|40|M|scientist|70116
918          919|25|M|other|14216
919         920|30|F|artist|90008
920        921|20|F|student|98801
921  922|29|F|administrator|21114
922        923|21|M|student|E2E3R
923          924|29|M|other|11753
924       925|18|F|salesman|49036
925  926|49|M|entertainment|01701
926     927|23|M|programmer|55428
927        928|21|M|student|55408
928      929|44|M|scientist|53711
929      930|28|F|scientist|07310
930       931|60|M|educator|33556
931       932|58|M|educator|06437
932        933|28|M|student|48105
933       934|61|M|engineer|22902
934         935|42|M|doctor|66221
935          936|24|M|other|32789
936       937|48|M|educator|98072
937     938|38|F|technician|55038
938        939|26|F|student|33319
939  940|32|M|administrator|02215
940        941|20|M|student|97229
941      942|48|F|librarian|78209
942        943|22|M|student|77841

[943 rows x 1 columns]

In [14]:
# read 'u.user' into 'users'
user_cols = ['user_id', 'age', 'gender', 'occupation', 'zip_code']
users = pd.read_table('u.user', sep='|', header=None, names=user_cols, index_col='user_id', dtype={'zip_code':str})

In [23]:
# examine the users data
#users                   # print the first 30 and last 30 rows
#type(users)             # DataFrame
#users.head()            # print the first 5 rows
users.head(10)          # print the first 10 rows
#users.tail()            # print the last 5 rows
#users.index             # "the index" (aka "the labels")
#users.columns           # column names (which is "an index")
#users.dtypes            # data types of each column
#users.shape             # number of rows and columns
#users.values            # underlying numpy array
#users.info()            # concise summary (including memory usage)

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
6         42      M      executive    98101
7         57      M  administrator    91344
8         36      M  administrator    05201
9         29      M        student    01002
10        53      M         lawyer    90703

In [31]:
# select a column
#users['gender']         # select one column
type(users['gender'])   # Series
#type(users[['gender']])   # DataFrame
#users.gender            # select one column using the DataFrame attribute

pandas.core.series.Series

In [34]:
# summarize (describe) the data
#users.describe()                    # describe all numeric columns
#users.describe(include=['object'])  # describe all object columns (can include multiple types)
#users.describe(include='all')       # describe all columns
users.gender.describe()             # describe a single column
#users.age.mean()                    # only calculate the mean

count     943
unique      2
top         M
freq      670
Name: gender, dtype: object

In [35]:
# count the number of occurrences of each value
users.occupation.value_counts()     # most useful for categorical variables
#users.age.value_counts()        # can also be used with numeric variables

student          196
other            105
educator          95
administrator     79
engineer          67
programmer        66
librarian         51
writer            45
executive         32
scientist         31
artist            28
technician        27
marketing         26
entertainment     18
healthcare        16
retired           14
salesman          12
lawyer            12
none               9
homemaker          7
doctor             7
Name: occupation, dtype: int64

## EXERCISE ONE

In [47]:
# read drinks.csv into a DataFrame called 'drinks'
drinks = pd.read_table('drinks.csv', sep=',')
#drinks = pd.read_csv('drinks.csv')              # assumes separator is comma

In [48]:
# print the head and the tail
#drinks.head()
#drinks.tail()
drinks.describe(include=head)

NameError: name 'head' is not defined

In [43]:
# examine the default index, data types, and shape
drinks.index
#drinks.dtypes
#drinks.shape

RangeIndex(start=0, stop=193, step=1)

In [45]:
# print the 'beer_servings' Series
drinks['beer_servings']
#drinks.beer_servings

0        0
1       89
2       25
3      245
4      217
5      102
6      193
7       21
8      261
9      279
10      21
11     122
12      42
13       0
14     143
15     142
16     295
17     263
18      34
19      23
20     167
21      76
22     173
23     245
24      31
25     231
26      25
27      88
28      37
29     144
      ...
163    128
164     90
165    152
166    185
167      5
168      2
169     99
170    106
171      1
172     36
173     36
174    197
175     51
176     51
177     19
178      6
179     45
180    206
181     16
182    219
183     36
184    249
185    115
186     25
187     21
188    333
189    111
190      6
191     32
192     64
Name: beer_servings, dtype: int64

In [46]:
# calculate the average 'beer_servings' for the entire dataset
drinks.describe()                   # summarize all numeric columns
#drinks.beer_servings.describe()     # summarize only the 'beer_servings' Series
#drinks.beer_servings.mean()         # only calculate the mean

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
count,193.000000,193.000000,193.000000,193.000000
mean,106.160622,80.994819,49.450777,4.717098
std,101.143103,88.284312,79.697598,3.773298
min,0.000000,0.000000,0.000000,0.000000
25%,20.000000,4.000000,1.000000,1.300000
50%,76.000000,56.000000,8.000000,4.200000
75%,188.000000,128.000000,59.000000,7.200000
max,376.000000,438.000000,370.000000,14.400000

In [49]:

# count the number of occurrences of each 'continent' value and see if it looks correct
drinks.continent.value_counts()

AF    53
EU    45
AS    44
OC    16
SA    12
Name: continent, dtype: int64

#### Filtering and Sorting

using users data set again

In [58]:
# logical filtering: only show users with age < 20
#young_bool = users.age < 30         # create a Series of booleans...
#users[young_bool]                   # ...and use that Series to filter rows
users[users.age < 20]               # or, combine into a single step
#users[users.age < 20].occupation    # select one column from the filtered results
#users[users.age < 20].occupation.value_counts()     # value_counts of resulting Series

         age gender     occupation zip_code
user_id
30         7      M        student    55436
36        19      F        student    93117
52        18      F        student    55105
57        16      M           none    84010
67        17      M        student    60402
68        19      M        student    22904
101       15      M        student    05146
110       19      M        student    77840
142       13      M          other    48118
179       15      M  entertainment    20755
206       14      F        student    53115
221       19      M        student    20685
223       19      F        student    47906
246       19      M        student    28734
257       17      M        student    77005
258       19      F        student    77801
262       19      F        student    78264
270       18      F        student    63119
281       15      F        student    06059
289       11      M           none    94619
291       19      M        student    44106
303       19      M        student    14853
320       19      M        student    24060
341       17      F        student    44405
347       18      M        student    90210
367       17      M        student    37411
368       18      M        student    92113
375       17      M  entertainment    37777
393       19      M        student    83686
397       17      M        student    27514
...      ...    ...            ...      ...
601       19      F         artist    99687
609       13      F        student    55106
618       15      F        student    44212
619       17      M        student    44134
620       18      F         writer    81648
621       17      M        student    60402
624       19      M        student    30067
628       13      M           none    94306
631       18      F        student    38866
632       18      M        student    55454
642       18      F        student    95521
646       17      F        student    51250
674       13      F        student    55337
700       17      M        student    76309
710       19      M        student    92020
729       19      M        student    56567
747       19      M          other    93612
761       17      M        student    97302
787       18      F        student    98620
813       14      F        student    02136
817       19      M        student    60152
849       15      F        student    25652
851       18      M          other    29646
859       18      F          other    06492
863       17      M        student    60089
872       19      F        student    74078
880       13      M        student    83702
887       14      F        student    27249
904       17      F        student    61073
925       18      F       salesman    49036

[77 rows x 4 columns]

In [63]:
# logical filtering with multiple conditions
users[(users.age < 15) & (users.gender=='F') & (users.occupation=='student')]       # ampersand for AND condition
#users[(users.age < 20) | (users.age > 60)]          # pipe for OR condition
#users[users.occupation.isin(['doctor', 'lawyer'])]  # alternative to multiple OR conditions

         age gender occupation zip_code
user_id
206       14      F    student    53115
609       13      F    student    55106
674       13      F    student    55337
813       14      F    student    02136
887       14      F    student    27249

In [71]:
# sorting
#users.age.sort_values()                   # sort a column
#users.sort_values(by='age')                   # sort a DataFrame by a single column
#users.sort_values(by='age', ascending=True)  # use descending order instead
users.sort_values(by=['occupation', 'age', 'zip_code'])   # sort by multiple columns

         age gender     occupation zip_code
user_id
118       21      M  administrator    90210
317       22      M  administrator    13210
282       22      M  administrator    20057
180       22      F  administrator    60202
509       23      M  administrator    10011
439       23      F  administrator    20817
665       25      M  administrator    55412
726       25      F  administrator    80538
394       25      M  administrator    96819
86        26      M  administrator    46005
78        26      M  administrator    61801
525       27      F  administrator    19711
62        27      F  administrator    97214
750       28      M  administrator    32303
261       28      M  administrator    85202
500       28      M  administrator    94305
748       28      M  administrator    94720
768       29      M  administrator    12866
922       29      F  administrator    21114
436       30      F  administrator    17345
42        30      M  administrator    17870
174       30      F  administrator    52302
447       30      M  administrator    55113
190       30      M  administrator    95938
95        31      M  administrator    10707
578       31      M  administrator    M7A1A
940       32      M  administrator    02215
762       32      M  administrator    95050
879       33      F  administrator    55337
400       33      F  administrator    78213
...      ...    ...            ...      ...
668       29      F         writer    10016
557       30      F         writer    11217
199       30      M         writer    17604
122       32      F         writer    22206
796       32      F         writer    33755
28        32      M         writer    55369
833       34      M         writer    90019
385       36      M         writer    10003
264       36      F         writer    90064
911       37      F         writer    53210
798       40      F         writer    64131
504       40      F         writer    92115
842       40      M         writer    93055
745       42      M         writer    55113
390       42      F         writer    85016
491       43      F         writer    53711
236       44      F         writer    53214
389       44      F         writer    83702
829       48      M         writer    80209
736       48      F         writer    94618
853       49      M         writer    40515
196       49      M         writer    55105
518       49      F         writer    99709
772       50      M         writer    27105
503       50      F         writer    27514
548       51      M         writer    95468
370       52      M         writer    08534
392       52      M         writer    59801
558       56      F         writer    63132
464       60      M         writer    94583

[943 rows x 4 columns]

## EXERCISE TWO

using the drinks dataset again

In [ ]:
# filter DataFrame to only include European countries

In [ ]:
# filter DataFrame to only include European countries with wine_servings > 300

In [ ]:
# calculate the average 'beer_servings' for all of Europe

In [ ]:
# determine which 10 countries have the highest total_litres_of_pure_alcohol

In [ ]:
# rename the column 'beer_servings' to 'beer'

In [ ]:
# add a new column as a function of existing columns, total_servings = beer + wine + spirits

In [ ]:
# remove the column you just added

### Handling Missing Values

In [ ]:
# missing values are usually excluded by default
drinks.continent.value_counts()              # excludes missing values
drinks.continent.value_counts(dropna=False)  # includes missing values

In [ ]:
# find missing values in a Series
drinks.continent.isnull()           # True if missing, False if not missing
drinks.continent.isnull().sum()     # count the missing values
drinks.continent.notnull()          # True if not missing, False if missing
drinks[drinks.continent.notnull()]  # only show rows where continent is not missing

In [ ]:
# use 'tilde' ~ to negate the boolean values
~drinks.continent.isnull()

In [ ]:
# side note: understanding axes
drinks.sum(axis=0)      # sums "down" the 0 axis (rows)
drinks.sum()            # axis=0 is the default
drinks.sum(axis=1)      # sums "across" the 1 axis (columns)

In [ ]:
# find missing values in a DataFrame
drinks.isnull()             # DataFrame of booleans
drinks.isnull().sum()       # count the missing values in each column

In [ ]:
# fill in missing values
drinks.continent.fillna(value='NA')                 # fill in missing values with 'NA'
drinks.continent.fillna(value='NA', inplace=True)   # modifies 'drinks' in-place

### Merging Data

In [ ]:
# read 'u.item' into 'movies'
movie_cols = ['movie_id', 'title']
movies = pd.read_table('u.item', sep='|', header=None, names=movie_cols, usecols=[0, 1])

In [ ]:
# read 'u.data' into 'ratings'
rating_cols = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_table('u.data', sep='\t', header=None, names=rating_cols)

In [ ]:
# merge 'movies' and 'ratings' (inner join on 'movie_id')
movie_ratings = pd.merge(movies, ratings)
movies.shape
ratings.shape
movie_ratings.shape