# Data Science Course Week 1 - Pandas and Data Manipulation

## We will be using real data sources to explore the features of Pandas

MovieLens 100k movie rating data:
    main page: http://grouplens.org/datasets/movielens/
    data dictionary: http://files.grouplens.org/datasets/movielens/ml-100k-README.txt
    files: u.user, u.data, u.item

WHO alcohol consumption data:
    article: http://fivethirtyeight.com/datalab/dear-mona-followup-where-do-people-drink-the-most-beer-wine-and-spirits/    
    original data: https://github.com/fivethirtyeight/data/tree/master/alcohol-consumption
    file: drinks.csv (with additional 'continent' column)

National UFO Reporting Center data:
    main page: http://www.nuforc.org/webreports.html
    file: ufo.csv

In [2]:
import pandas as pd

### Reading Files, Selecting Columns, and Summarizing

In [80]:
# can read a file from local computer or directly from a URL
#pd.read_table('u.user', header=None)
#pd.read_table('https://raw.githubusercontent.com/alasdaird/SYD_DAT_6/master/labs/Week%201/u.user')

In [247]:
# read 'u.user' into 'users'
user_cols = ['user_id', 'age', 'gender', 'occupation', 'zip_code']
users = pd.read_table('u.user', sep='|', header=None, names=user_cols, index_col='user_id', dtype={'zip_code':str})
#users

In [248]:
# examine the users data
#users                   # print the first 30 and last 30 rows
#type(users)
#DataFrame
#users.head()            # print the first 5 rows
#users.head(10)          # print the first 10 rows
#users.tail()            # print the last 5 rows
#users.index             # "the index" (aka "the labels")
#users.columns           # column names (which is "an index")
#users.dtypes            # data types of each column
#users.shape             # number of rows and columns
#users.values            # underlying numpy array
#users.info()            # concise summary (including memory usage)

In [78]:
# select a column
#users['gender']         # select one column
#type(users['gender'])   # Series
#type(users[['gender']])   # DataFrame
#users.gender            # select one column using the DataFrame attribute

In [32]:
# summarize (describe) the data
#users.describe()                    # describe all numeric columns
#users.describe(include=['object'])  # describe all object columns (can include multiple types)
#users.describe(include='all')       # describe all columns
#users.gender.describe()             # describe a single column
#users.age.mean()                    # only calculate the mean

34.05196182396607

In [77]:
# count the number of occurrences of each value
#users.occupation.value_counts()     # most useful for categorical variables
#users.age.value_counts()        # can also be used with numeric variables

## EXERCISE ONE

In [75]:
# read drinks.csv into a DataFrame called 'drinks'
#drinks = pd.read_table('drinks.csv', sep=',')
#drinks = pd.read_csv('drinks.csv')              # assumes separator is comma

In [76]:
# print the head and the tail
#drinks.head()
#drinks.tail()

In [73]:
# examine the default index, data types, and shape
#drinks.index
#drinks.dtypes
#drinks.shape

In [72]:
# print the 'beer_servings' Series
#drinks['beer_servings']
#drinks.beer_servings

In [74]:
# calculate the average 'beer_servings' for the entire dataset
#drinks.describe()                   # summarize all numeric columns
#drinks.beer_servings.describe()     # summarize only the 'beer_servings' Series
#drinks.beer_servings.mean()         # only calculate the mean

In [71]:

# count the number of occurrences of each 'continent' value and see if it looks correct
#drinks.continent.value_counts()

#### Filtering and Sorting

using users data set again

In [70]:
# logical filtering: only show users with age < 20
#young_bool = users.age < 20         # create a Series of booleans...
#users[young_bool]                   # ...and use that Series to filter rows
#users[users.age < 20]               # or, combine into a single step
#users[users.age < 20].occupation    # select one column from the filtered results
#users[users.age < 20].occupation.value_counts()     # value_counts of resulting Series

In [244]:
# logical filtering with multiple conditions
#users[(users.age < 20) & (users.gender=='M')]       # ampersand for AND condition
#users[(users.age < 20) | (users.age > 60)]          # pipe for OR condition
#users[users.occupation.isin(['doctor', 'lawyer'])]  # alternative to multiple OR conditions

In [68]:
# sorting
#users.age.sort_values()                   # sort a column
#users.sort_values(by='age')                   # sort a DataFrame by a single column
#users.sort_values(by='age', ascending=False)  # use descending order instead
#users.sort_values(by=['occupation', 'age'])   # sort by multiple columns

## EXERCISE TWO

using the drinks dataset again

In [241]:
# filter DataFrame to only include European countries
#(done)
drinks = pd.read_table('drinks.csv', sep = ",")
#drinks
#drinks[drinks.continent.isin(['EU'])]

In [249]:
# filter DataFrame to only include European countries with wine_servings > 300
#(done)
WineServing = drinks.wine_servings > 300
drinks[WineServing]

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
3,Andorra,245,138,312,12.4,EU
61,France,127,151,370,11.8,EU
136,Portugal,194,67,339,11.0,EU

In [119]:
# calculate the average 'beer_servings' for all of Europe
#(done)
#EuropeBeer = drinks[(drinks.continent =='EU')]
#EuropeBeer.beer_servings.mean()

In [127]:
# determine which 10 countries have the highest total_litres_of_pure_alcohol
#(done)
#drinks.sort_values(by='total_litres_of_pure_alcohol', ascending = False)

In [148]:
# rename the column 'beer_servings' to 'beer'
#(done)
#cols_change = ['country', 'beer', 'spirit_servings', 'wine_servings', 'total_litres_of_pure_alcohol' , 'continent']
#cols_change
#drinks1 = pd.read_table('drinks.csv', sep=',')
#drinks1.rename(columns = {'beer_servings' : 'beer'})

In [242]:
# add a new column as a function of existing columns, total_servings = beer + wine + spirits
#(done)
#drinks2 = pd.read_table('drinks.csv', sep=',')
#drinks2['total_servings'] = drinks2.sum(axis=1)
#drinks3 = drinks2
#drinks3

In [170]:
# remove the column you just added
#(done)
#drinks3
#drinks4 = drinks3.drop('total_servings',1)
#drinks4

### Handling Missing Values

In [243]:
# missing values are usually excluded by default
#drinks.continent.value_counts()              # excludes missing values
#drinks.continent.value_counts(dropna=False)  # includes missing values

In [186]:
# find missing values in a Series
#drinks.continent.isnull()           # True if missing, False if not missing
#drinks.continent.isnull().sum()     # count the missing values
#drinks.continent.notnull()          # True if not missing, False if missing
#drinks[drinks.continent.notnull()]  # only show rows where continent is not missing

In [188]:
# use 'tilde' ~ to negate the boolean values
#~drinks.continent.isnull()

In [192]:
# side note: understanding axes
#drinks.sum(axis=0)      # sums "down" the 0 axis (rows)
#drinks.sum()            # axis=0 is the default
#drinks.sum(axis=1)      # sums "across" the 1 axis (columns)

In [ ]:
# find missing values in a DataFrame
drinks.isnull()             # DataFrame of booleans
drinks.isnull().sum()       # count the missing values in each column

In [205]:
# fill in missing values
#drinks.continent.fillna(value='NA')                 # fill in missing values with 'NA'
#drinks.continent.fillna(value='NA', inplace=True)    # modifies 'drinks' in-place

### Merging Data

In [240]:
# read 'u.item' into 'movies'
#movie_cols = ['movie_id', 'title']
#movies = pd.read_table('u.item', sep='|', header=None, names=movie_cols, usecols=[0, 1])

#movies

In [239]:
# read 'u.data' into 'ratings'
#rating_cols = ['user_id', 'movie_id', 'rating', 'timestamp']
#ratings = pd.read_table('u.data', sep='\t', header=None, names=rating_cols)
#ratings = pd.read_table('u.data', sep='\t', header=None, names=rating_cols)
#ratings

In [238]:
# merge 'movies' and 'ratings' (inner join on 'movie_id')
#movie_ratings = pd.merge(movies, ratings)
#movie_ratings
#movies.shape
#ratings.shape
#movie_ratings.shape