# SYD DAT 6 Lab 1 - Git and Markdown

## Homework:

#### Setup
* Resolve any installation issues before next class.
* Make sure you have a github profile and created a repo called "SYD_DAT_6"
* Clone the class repo (this one!)
* Review this [code](../labs/Week 1/00_python_refresher.py) for a recap of some Python basics.

#### Communication
* Read [Analyzing the Analyzers](http://cdn.oreillystatic.com/oreilly/radarreport/0636920029014/Analyzing_the_Analyzers.pdf) for a useful look at the different types of data scientists. Write down 5 key points you took away from the article
* Read about some [Markdown Techniques](http://daringfireball.net/projects/markdown/syntax)
* Write a summary of 2 chapters of [The Data Science Handbook](http://www.thedatasciencehandbook.com/) in Markdown and submit a pull request in the Lab Directory

#### Programming
* Complete the lab from class and the additional Exercise below

#### Course Project
* Come up with 5 different ideas for your course project. For each one list:
  * Overview of your idea
  * What data you will use
  * What the outcome is that you are trying to achieve
  * Any ideas of modelling techniques it may involve

**Instructions: copy this file and append your name in the filename, e.g. Homework1_alasdair_douglas.ipynb.
Then commit this in your local repository, push it to your github account and create a pull request so I can see your work. Remeber if you get stuck to look at the slides going over Fork, Clone, Commit, Push and Pull request.**

## Exercise Four - Movie Lens Data

In [51]:
# for each occupation in 'users', count the number of occurrences

# for each occupation, calculate the mean age

# for each occupation, calculate the minimum and maximum ages

# for each combination of occupation and gender, calculate the mean age

# randomly sample a DataFrame

# detect duplicate users

In [9]:
import pandas as pd

In [34]:
#pd.read_table('u.user', header=None)
users = pd.read_table('https://raw.githubusercontent.com/alasdaird/SYD_DAT_6/master/labs/Week%201/u.user', sep = '|', names = ['user_id', 'age', 'gender', 'occupation', 'zip_code'])
users.head()

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

In [48]:
users.groupby('occupation').age.mean()

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

In [50]:
users.groupby('occupation').age.describe()
#users.groupby('occupation').age.max()
#users.groupby('occupation').age.min()

occupation
administrator  count     79.000000
               mean      38.746835
               std       11.123397
               min       21.000000
               25%       30.000000
               50%       37.000000
               75%       48.000000
               max       70.000000
artist         count     28.000000
               mean      31.392857
               std        8.668116
               min       19.000000
               25%       25.000000
               50%       30.000000
               75%       39.000000
               max       48.000000
doctor         count      7.000000
               mean      43.571429
               std       12.501428
               min       28.000000
               25%       35.500000
               50%       45.000000
               75%       48.500000
               max       64.000000
educator       count     95.000000
               mean      42.010526
               std       10.413264
               min       23.000000
               25%       33.000000
               50%       42.000000
                           ...
scientist      std        7.392964
               min       23.000000
               25%       30.000000
               50%       37.000000
               75%       40.000000
               max       55.000000
student        count    196.000000
               mean      22.081633
               std        5.284081
               min        7.000000
               25%       19.000000
               50%       21.000000
               75%       25.000000
               max       42.000000
technician     count     27.000000
               mean      33.148148
               std        9.867210
               min       21.000000
               25%       24.000000
               50%       30.000000
               75%       40.000000
               max       55.000000
writer         count     45.000000
               mean      36.311111
               std       11.423306
               min       18.000000
               25%       26.000000
               50%       36.000000
               75%       48.000000
               max       60.000000
Name: age, dtype: float64

In [55]:
users.groupby(['occupation','gender']).age.mean()

occupation     gender
administrator  F         40.638889
               M         37.162791
artist         F         30.307692
               M         32.333333
doctor         M         43.571429
educator       F         39.115385
               M         43.101449
engineer       F         29.500000
               M         36.600000
entertainment  F         31.000000
               M         29.000000
executive      F         44.000000
               M         38.172414
healthcare     F         39.818182
               M         45.400000
homemaker      F         34.166667
               M         23.000000
lawyer         F         39.500000
               M         36.200000
librarian      F         40.000000
               M         40.000000
marketing      F         37.200000
               M         37.875000
none           F         36.500000
               M         18.600000
other          F         35.472222
               M         34.028986
programmer     F         32.166667
               M         33.216667
retired        F         70.000000
               M         62.538462
salesman       F         27.000000
               M         38.555556
scientist      F         28.333333
               M         36.321429
student        F         20.750000
               M         22.669118
technician     F         38.000000
               M         32.961538
writer         F         37.631579
               M         35.346154
Name: age, dtype: float64

In [60]:
users.sample(n=10)

     user_id  age gender     occupation zip_code
1          2   53      F          other    94043
779      780   49      M     programmer    94560
665      666   44      M  administrator    61820
712      713   42      F          other    07204
95        96   25      F         artist    75206
593      594   46      M       educator    M4J2K
216      217   22      M          other    11727
540      541   19      F        student    84302
504      505   27      F          other    20657
308      309   40      M      scientist    70802

In [61]:
users.duplicated(['gender','occupation', 'age', 'zip_code'])

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
913    False
914    False
915    False
916    False
917    False
918    False
919    False
920    False
921    False
922    False
923    False
924    False
925    False
926    False
927    False
928    False
929    False
930    False
931    False
932    False
933    False
934    False
935    False
936    False
937    False
938    False
939    False
940    False
941    False
942    False
dtype: bool