# SYD DAT 6 Lab 1 - Git and Markdown

## Homework:

#### Setup
* Resolve any installation issues before next class.
* Make sure you have a github profile and created a repo called "SYD_DAT_6"
* Clone the class repo (this one!)
* Review this [code](../labs/Week 1/00_python_refresher.py) for a recap of some Python basics.

#### Communication
* Read [Analyzing the Analyzers](http://cdn.oreillystatic.com/oreilly/radarreport/0636920029014/Analyzing_the_Analyzers.pdf) for a useful look at the different types of data scientists. Write down 5 key points you took away from the article
* Read about some [Markdown Techniques](http://daringfireball.net/projects/markdown/syntax)
* Write a summary of 2 chapters of [The Data Science Handbook](http://www.thedatasciencehandbook.com/) in Markdown and submit a pull request in the Lab Directory

#### Programming
* Complete the lab from class and the additional Exercise below

#### Course Project
* Come up with 5 different ideas for your course project. For each one list:
  * Overview of your idea
  * What data you will use
  * What the outcome is that you are trying to achieve
  * Any ideas of modelling techniques it may involve

**Instructions: copy this file and append your name in the filename, e.g. Homework1_alasdair_douglas.ipynb.
Then commit this in your local repository, push it to your github account and create a pull request so I can see your work. Remeber if you get stuck to look at the slides going over Fork, Clone, Commit, Push and Pull request.**

## Analyzing the Analyzers: 5 Key Points
* As data science is still a rapidly evolving and broad field, there is a lot potential for miscommunication and unrealistic expectations.

* The cluster analysis demonstrated the diversity of skills and goals among data scientists, but several of the Self-ID Groups exhibited ’T-shaped’ qualities.

* Despite the term ‘big data’ being very prominent, the petabyte scale work appears to be done by a relatively small number of data scientists.

* The authors effectively highlight some of the limitations of their attempts to define data scientists and by extension, potentially difficulties within data science.

* The authors concluded that a broad set up skills will likely benefit all data scientists and wider adoption of organisational frameworks to foster data scientists in the future.

## The Data Science Handbook: Summaries of Chapter 1 & 2

### Chapter 1: DJ Patil
* DJ stresses the importance of curiosity and enthusiasm and working on simple things, as they tend to become hard anyway.
* He thinks that no matter what you are working on to try and be around the best people of that field to accelerate your own development and young data scientists can add value by offering a different perspective.

### Chapter 2: Hilary Mason
* Hilary highlighted the diversity of application for data science, specifically in the range of industry that is prominent in New York City. Also, that it is yet a relatively young field of expertise, but expected to expand rapidly. 
* She explains that sometimes data collection is an unintended side effect of another project and it can be important to harness this information, but warns that it may be hard to obtain in large corporates.
* Similar to DJ, she emphasises that it is important to be working on projects where you can learn things to progress your skills.
* Finally, she encourages engaging in and sharing personal projects to demonstrate your abilities.

## FINAL PROJECT IDEAS

#### 1) POP MUSIC LYRICS
* IDEA: Analyze the lyrical data of pop music (ie number of unique words, key words and phrases) to show the complexity of lyrics. Use the lyrical data for the top 100 songs of a given year to generate a single song with lyrics representing that timeframe.
* DATA SOURCE: Genius API lyrics database (https://docs.genius.com/#/getting-started-h1)
* TARGET OUTCOME: Identify trends in complexity of lyrics and other lyrical trends in pop music over time and cross reference google trends data to chart the emergence of key words and phrases in pop culture.
* MODELLING: Use Markov chains or n-gram next word prediction to generate song lyrics based on sample lyrics data.

#### 2) TRANSALATE JAPANESE EARTHQUAKE & TSUNAMI ALERTS
* IDEA: Monitor reputable Japanese language earthquake and tsunami alert twitter accounts and output a cross referenced and summarized English language alert and approximate translation of the unique Japanese earthquake intensity scale to magnitude in realtime. (NB: I speak fluent Japanese)
* DATA SOURCE: Prominent earthquake alert twitter accounts such as  @earthquake_jp & @tenkijp_jishin
* TARGET OUTCOME: To provide realtime meaningful natural disaster alerts non-Japanese speakers in Japan.
* MODELLING: Using deep neural network techniques to learn word embeddings and historical earthquake data to translate Japanese intensity scale into magnitude to approximate earthquake strength.

#### 3) STOCK MARKET HYPE INDICATOR
* IDEA: Approximate the level of hype around specific stocks based on twitter mentions over a single day (estimate whether mention is positive or negative) and the stock market movement on the same day. Could be specifically used for the 24 hour periods before and after a comapany's results announcement and decide whether the results beat or missed the market's expectations.
* DATA SOURCE: Australian Securities Exchange and Twitter. Alternatively New York Stock Exchange data if Australian data is not sufficent.
* TARGET OUTCOME: Estimate the level of hype (overhypd/underhyped) around companies relative to actual performance and guage market sentiment on specific companies.
* MODELLING: Use the Natural Language Toolkit to apply binary classification to perform sentiment analysis and relate to stock performance or company results relative to market expectation.

#### 4) JAPANESE COMICS RECOMMENDER ENGINE
* IDEA:  Ask the user to identify comics they have read from a presented list and indicate like/disliketo provide them with recommendations for other Japanese comics.
* DATA SOURCE: Amazon Product Advertising API (https://python-amazon-product-api.readthedocs.io/en/latest/)
* TARGET OUTCOME: To provide the user with meaningful recommendations for Japanese comics.
* MODELLING: Use content-based filtering to create a recommender engine.

#### 5) CULTURAL INFLUENCE OF HIT MOVIES
* IDEA: Measure the cultural influence of hit movies by analysing the number/quality/budget/financial success of 'copycat' movies that are released in the years following the initial hit movie (EG Twilight and subsequent surge in vampire movies)
* DATA SOURCE: Movielens dataset
* TARGET OUTCOME: Compare the influence of hit movies quantitavely.
* MODELLING: Refine model based on available inputs.

## Exercise Four - Movie Lens Data

In [18]:
import pandas as pd

In [19]:
#Retreive data from my repository forked from SYD_DAT_6 Master
user_cols = ['user_id', 'age', 'gender', 'occupation', 'zip_code']
users = pd.read_table('https://raw.githubusercontent.com/furoape/SYD_DAT_6/master/labs/Week%201/u.user', sep='|', header=None, names=user_cols, index_col='user_id', dtype={'zip_code':str})

In [20]:
# for each occupation in 'users', count the number of occurrences
users.occupation.value_counts()

student          196
other            105
educator          95
administrator     79
engineer          67
programmer        66
librarian         51
writer            45
executive         32
scientist         31
artist            28
technician        27
marketing         26
entertainment     18
healthcare        16
retired           14
salesman          12
lawyer            12
none               9
homemaker          7
doctor             7
Name: occupation, dtype: int64

In [23]:
# for each occupation, calculate the mean age
users.groupby('occupation').age.mean()

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

In [35]:
# for each occupation, calculate the minimum and maximum ages
users.groupby('occupation').age.max()
users.groupby('occupation').age.min()
# Alternatively, both values are included in .describe()
#users.groupby('occupation').age.describe()

occupation
administrator    21
artist           19
doctor           28
educator         23
engineer         22
entertainment    15
executive        22
healthcare       22
homemaker        20
lawyer           21
librarian        23
marketing        24
none             11
other            13
programmer       20
retired          51
salesman         18
scientist        23
student           7
technician       21
writer           18
Name: age, dtype: int64

In [42]:
# for each combination of occupation and gender, calculate the mean age
users.groupby(['occupation', 'gender']).age.mean()

occupation     gender
administrator  F         40.638889
               M         37.162791
artist         F         30.307692
               M         32.333333
doctor         M         43.571429
educator       F         39.115385
               M         43.101449
engineer       F         29.500000
               M         36.600000
entertainment  F         31.000000
               M         29.000000
executive      F         44.000000
               M         38.172414
healthcare     F         39.818182
               M         45.400000
homemaker      F         34.166667
               M         23.000000
lawyer         F         39.500000
               M         36.200000
librarian      F         40.000000
               M         40.000000
marketing      F         37.200000
               M         37.875000
none           F         36.500000
               M         18.600000
other          F         35.472222
               M         34.028986
programmer     F         32.166667
               M         33.216667
retired        F         70.000000
               M         62.538462
salesman       F         27.000000
               M         38.555556
scientist      F         28.333333
               M         36.321429
student        F         20.750000
               M         22.669118
technician     F         38.000000
               M         32.961538
writer         F         37.631579
               M         35.346154
Name: age, dtype: float64

In [43]:
# randomly sample a DataFrame
users.sample(n=30)

         age gender     occupation zip_code
user_id
272       33      M      scientist    53706
616       55      M      scientist    50613
545       27      M     technician    08052
668       29      F         writer    10016
818       28      M      librarian    27514
663       26      M          other    19341
885       30      F          other    95316
613       37      F      marketing    29678
301       24      M        student    55439
573       68      M        retired    48911
24        21      F         artist    94533
358       40      M       educator    10022
750       28      M  administrator    32303
752       60      M        retired    21201
385       36      M         writer    10003
161       50      M         lawyer    55104
77        30      M     technician    29379
492       57      M       educator    94618
54        22      M      executive    66315
396       57      M       engineer    94551
844       22      M       engineer    95662
314       20      F        student    08043
439       23      F  administrator    20817
414       24      M     programmer    38115
30         7      M        student    55436
820       22      M        student    37725
878       50      F       educator    98027
834       26      M          other    64153
129       36      F      marketing    07039
149       35      F      marketing    17325

In [57]:
# detect duplicate users
users.duplicated(['gender','occupation', 'age', 'zip_code'])

user_id
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
30     False
       ...
914    False
915    False
916    False
917    False
918    False
919    False
920    False
921    False
922    False
923    False
924    False
925    False
926    False
927    False
928    False
929    False
930    False
931    False
932    False
933    False
934    False
935    False
936    False
937    False
938    False
939    False
940    False
941    False
942    False
943    False
dtype: bool

## LAB 1 -Exercise Two

In [ ]:
# filter DataFrame to only include European countries
drinks[drinks.continent == 'EU']

In [ ]:
# filter DataFrame to only include European countries with wine_servings > 300
drinks[(drinks.continent == 'EU') & (drinks.wine_servings > 300)]

In [ ]:
# calculate the average 'beer_servings' for all of Europe
drinks[drinks.continent == 'EU'].beer_servings.describe()

In [ ]:
# determine which 10 countries have the highest total_litres_of_pure_alcohol
drinks.head(10).sort_values(by='total_litres_of_pure_alcohol', ascending=False)

In [ ]:
# rename the column 'beer_servings' to 'beer'
drinks.rename(index=str, columns={"beer_servings": "beer"})

In [ ]:
# add a new column as a function of existing columns, total_servings = beer + wine + spirits
drinks.assign(total_servings = drinks['beer_servings'] + drinks['wine_servings'] + drinks['spirit_servings'])

In [ ]:
# remove the column you just added
drinks.drop('beer_servings', axis=1,)